@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'scss/font-awesome';

html{
	height: 100%;
	body{
		height: 100%;
	}
}

.navbar{
	margin-bottom: 0px;
}


.h-divider-dark{
	border-top: 1px solid $gray-dark;
	margin: 10px;
	display: block;
}

.h-divider-light{
	border-top: 1px solid $gray-light;
	margin: 10px;
	display: block;
}



/**************
Main Content
**************/
aside.content{
	height: calc(100% - 50px);
	//margin-top: 50px;
	overflow-y: auto;
	/*
	Menu bar on the side of the site
	*/
	.side-panel{
		height: 100%;
		background: $gray-dark;
		color: #fff;
		ul{
			list-style: none;
			margin: 15px 0 0 0;
			padding: 0;

			li:nth-child(1){
				border-top: none;
				padding-top: 6px;
			}
			li:nth-last-child(1){
				border-bottom: 1px solid #fff;
			}

			li{
				margin: 5px 0;
				padding: 3px;
				border-top: 1px solid #fff;
				color: white;
				text-align: center;
				.btn{
					width: 100%;
				}
				a{
					text-decoration: none;
					color:white;
					cursor: pointer;
				}
			}
		}
	}

	#content-pane{
		height: 100%;
		overflow-y: auto;
	}
}


.record{
	cursor: pointer;
}